<a href="https://colab.research.google.com/github/ravichas/R-ProgrammingNotes/blob/main/R_programming_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# R Programming Notes

The notebook was prepared and tested on COLAB. Click the link "Open in COLAB" to run the notebook.
If you prefer to run/save the notebook in COLAB/Google-drive, you need a Google account.

COLAB hints:

* use  **ctrl-M-**M to convert a cell to a text 
* use. **ctrl-M-**Y to convert a text to a cell

The following code chunks are based on the following sources: 
* "R in Action" (3rd ed) by Robert I. Kabacoff

Libraries (& dependencies) used in the notebook: 
* `vcd`
* `psych`
* `carData`
* `tidyverse`
* `sqldf`
* `mosaicData`
* `MultiRNG`
* `Hmisc`
* `pastecs`
* `gmodels`

I have provided an option to install all the R packages used in this notebook. 
For COLAB, I would recommend installing only when you need them. If you are going to use this notebook in your own laptop, then it is worth installing all 
the libraries at the start of the exercise.

In [ ]:
# code based on UCLA, stats.oarc.ucla.edu, page

mypackages <- c("vcd", "psych", "carData", "sqldf", "mosaicData", "multiRNG",
              "Hmisc", "pastecs", "gmodels")

a <- installed.packages()
packages <- a[,1] 
is.element(mypackages, packages)

Install the packages that are missing.

In [ ]:
## for testing
## mypackages <- c("gmodels", "psych")

#install.packages(mypackages)

## Load the libraries

In [ ]:
library(vcd)
library(psych)
library(carData)
library(sqldf)
library(mosaicData)
library(multiRNG)
library(Hmisc)
library(pastecs)
library(gmodels)

## Set general options

In [ ]:
options(repr.plot.width = 8, repr.plot.height = 8)

In [ ]:
# tidyverse comes with COLAB; no need to install in COLAB, 
# unless you need a specific version
library(tidyverse)

In [ ]:
library(tibble)
mtcars_t <- as_tibble(mtcars)

In [ ]:
head(mtcars)

## Tibbles
If you dont want surprises, tibbles are your best bet. For example
* strings with gaps will still be the same
* Chars will not be converte to factors by default

In [ ]:
head(mtcars_t)

In [ ]:
mtcars[, "mpg"]

In [ ]:
head(mtcars_t[, "mpg"]) # still a dataframe

In [ ]:
# Caveats
x <- c(5,6,1,2,3)

In [ ]:
x[20] <- 5 
x

In [ ]:
# creating an empty dataframe ; note edit is not supported in COLAB 

# mydata <- data.frame(age=numeric(0), gender=character(0),
#                      weight=numeric(0))
# mydata <- edit(mydata)

## Important dplyr functions


*   select()
*   filter()
*.  mutate()
*.  rename()
*.  recode(). # recode variable values
*.  arrange() # order rows by var names

## SQL in R

In [ ]:
install.packages("sqldf")

In [ ]:
library(sqldf)

In [ ]:
head(mtcars)

In [ ]:
newdf <- sqldf("select * from mtcars where carb = 1 order by mpg",
                row.names=TRUE)

In [ ]:
newdf

In [ ]:
sqldf("select avg(mpg) as avg_mpg, avg(disp) as avg_disp, gear 
       from mtcars where cyl in (4,6) group by gear")

In [ ]:
install.packages("mosaicData")

## ggplot2

In [ ]:
library(ggplot2)
library(mosaicData)



```
ggplot(data = <DATA>) +
    <GEOM_FUNCTION>(mapping = aes(<MAPPINGS>)) 
```

In [ ]:
colnames(CPS85)

In [ ]:
head(CPS85, 3)

In [ ]:
ggplot(data = CPS85, mapping = aes(x=exper, y = wage)) +
  geom_point()

In [ ]:
CPS85 <- CPS85[CPS85$wage < 40, ]
ggplot(data = CPS85, mapping = aes(x = exper, y = wage)) + 
  geom_point(color="cornflowerblue", alpha=0.7, size=1.5) + 
  geom_smooth(method="lm") + 
  theme_bw()

In [ ]:
#Grouping; color and shape are placed inside aes because outside of 
# aes, they are unknown
ggplot(data = CPS85, 
  mapping = aes(x = exper, y = wage, color=sex, shape=sex, linetype=sex)) + 
  geom_point(alpha=0.7, size=1.5) + 
  geom_smooth(method="lm", se=FALSE, size=1.5) + 
  theme_bw()

X and Y axis tickmarks and labels

In [ ]:
ggplot(data = CPS85, 
  mapping = aes(x = exper, y = wage, color=sex, shape=sex, linetype=sex)) + 
  geom_point(alpha=0.7, size=1.5) + 
  geom_smooth(method="lm", se=FALSE, size=1.5) + 
  scale_x_continuous(breaks=seq(0, 70, 10)) + 
  scale_y_continuous(breaks=seq(0, 30, 5), label=scales::dollar) + 
  scale_color_manual(values=c("indianred3", "cornflowerblue")) + 
  theme_bw()



```
scale_x_discreate, scale_y_discrete: axes representing categorical vars 
scale_x_continuous(): Scales the x and y quantitative vars;
```

In [ ]:
head(CPS85, 3)

In [ ]:
table(CPS85$sector)

In [ ]:
ggplot(data = CPS85, 
  mapping = aes(x = exper, y = wage, color=sex, shape=sex, linetype=sex)) + 
  geom_point(alpha=0.7, size=1.5) + 
  geom_smooth(method="lm", se=FALSE, size=1.5) + 
  scale_x_continuous(breaks=seq(0, 70, 10)) + 
  scale_y_continuous(breaks=seq(0, 30, 5), label=scales::dollar) + 
  scale_color_manual(values=c("indianred3", "cornflowerblue")) + 
  facet_wrap(~sector) +
  theme_bw();

In [ ]:
ggplot(data = CPS85, 
  mapping = aes(x = exper, y = wage, color=sex, shape=sex, linetype=sex)) + 
  geom_point(alpha=0.7, size=1.5) + 
  geom_smooth(method="lm", se=FALSE, size=1.5) + 
  scale_x_continuous(breaks=seq(0, 70, 10)) + 
  scale_y_continuous(breaks=seq(0, 30, 5), label=scales::dollar) + 
  scale_color_manual(values=c("indianred3", "cornflowerblue")) + 
  facet_wrap(~sector) +
  labs(title = "Relationship between wages & experience",
       subtitle = "Current Population Survey",
       caption = "Source: http://mosaic-web.org/",
       x = "Years of Experience",
       y = "Hourly Wage",
       color = "Gender", shape = "Gender", linetype = "Gender") + 
  theme_bw();

In [ ]:
# Saving the plot

ggplot(mtcars, aes(x=mpg)) + 
  geom_histogram() 
ggsave(file = "mtcars_hist.pdf")

In [ ]:
head(mtcars,3)

In [ ]:
# scale the data 
# scale when applied will work on columns

mtcars_s <- mtcars %>% select(mpg, drat, wt, qsec)

## Data scaling

In [ ]:
mpg_mean <- mean(mtcars_t$mpg); mpg_sd <- sd(mtcars_t$mpg)
mpg_mean
mpg_sd
(mtcars_t$mpg - mpg_mean)/mpg_sd

In [ ]:
head(scale(mtcars_s), 5)

In [ ]:
x <- seq(-3, 3, 0.1)
y <- dnorm(x)
data <- data.frame(x = x, y = y)
ggplot(data, aes(x = x, y = y)) + 
  geom_line() + 
  labs(x = "NOrmal Deviate", 
       y = "Density") + 
  scale_x_continuous(breaks = seq(-3,3,1))

In [ ]:
# area to the left of z=1.96
pnorm(1.96)

In [ ]:
pnorm(0.0)

In [ ]:
qnorm(0.5, mean=500, sd = 100) # value of the 50th percentile of a normal distr with 500(10)

In [ ]:
install.packages("MultiRNG")

In [ ]:
# creating multivariate normal data 
library(MultiRNG)
options(digits=3)
set.seed(133)

mean <- c(230.7, 146.7, 3.6)
sigma <- matrix(c(15360.8, 6721.2, -47.1,
                  6721, 4700.9, -16.5, 
                  -47.5, -16.5, 0.3), nrow=3, ncol= 3)
# draw.d.variate.normal(n, nvar, mean, sigma)
mydata <- draw.d.variate.normal(10, 3, mean, sigma)
mydata <- as.data.frame(mydata)
names(mydata) <- c("y","x1","x2") 
head(mydata)

In [ ]:
mydata <- matrix(rnorm(20), nrow=5)
dim(mydata)

In [ ]:
mydata

In [ ]:
apply(mydata, 1, mean) # by row

In [ ]:
apply(mydata, 2, mean) # by column

In [ ]:
#sapply 
lapply(1:4, sqrt)

In [ ]:
?sapply

In [ ]:
mylist <- list(x = c(1:3), y = c(2:10))
lapply(mylist, sum)

In [ ]:
sapply(mylist, sum)

In [ ]:
#loops

for (i in 1:10) {
  print(i)
}

In [ ]:
data_w <- data.frame(ID = c("AU","CN","PRK"),
Country = c("Australia", "China", "North Korea"),
LExp1990 = c(76.9, 69.3, 69.9),
LExp2000 = c(79.6, 72.0, 65.3),
LExp2010 = c(82.0, 75.2, 69.6))

data_w

In [ ]:
data_l <- gather(data_w, key="Variable", value="Life_Exp",
    c(LExp1990, LExp2000, LExp2010))

In [ ]:
data_l

In [ ]:
spread(data_l, key = "Variable", value = "Life_Exp")

In [ ]:
head(mtcars,3)

## Aggregate and group_by
This will calculate the average for the columns that fulfils the condition.  For example, aggregate on cyl and gear.  Will first group_by and calculate mean

In [ ]:
options(digits=4)
agg_data <- aggregate(mtcars, 
            by = list(mtcars$cyl, mtcars$gear),
            FUN = mean, na.rm = TRUE)

In [ ]:
mtcars %>% filter(cyl==4, gear == 3)

In [ ]:
mtcars %>% filter(cyl == 6, gear == 3)

In [ ]:
(21.4 + 18.1)/2 # avg mpg
(258 + 225)/2. # disp

In [ ]:
agg_data

In [ ]:
# Aggregate using dplyr in one step

by_mtcars <- mtcars %>% 
  group_by(cyl, gear) 
by_mtcars %>% summarise(across(where(is.numeric), ~ mean(.x, na.rm = TRUE)))

In [ ]:
install.packages("vcd")
library(vcd)

In [ ]:
head(Arthritis, 3)

In [ ]:
ggplot(Arthritis, aes(x = Improved)) + 
  geom_bar() + 
    labs(title = "Bar Chart",
         x = "Improvement",
         y = "Frequency") +
    coord_flip() + 
    theme_classic()

In [ ]:
# continue chapter 6

## Basic Statistics

In [ ]:
myvars <- c("mpg","hp","wt")
summary(mtcars[myvars])

In [ ]:
sapply(mtcars[myvars], mean)

In [ ]:
install.packages("Hmisc")
library(Hmisc)

In [ ]:
describe(mtcars[myvars])

In [ ]:
install.packages("pastecs")

In [ ]:
library(pastecs)
stat.desc(mtcars[myvars])

In [ ]:
install.packages("psych")
library(psych)

In [ ]:
psych::describe(mtcars[myvars])

## Group statistics

In [ ]:
mystats <- function(x, na.omit=FALSE){
  if (na.omit)
    x = x[!is.na(x)]
  m <- mean(x)
  n <- length(x)
  s <- sd(x)
  skew <- sum((x-m)^3/s^3)/n
  kurt <- sum((x-m)^4/s^4)/n-3
  return(c(n=n, mean-m, stdev=s, 
         skew=skew, kurtosis=kurt))
}

In [ ]:
dstats <- function(x) sapply(x, mystats)

#myvars 

by(mtcars[myvars],
  list(Transmission=mtcars$am,
       Engine = mtcars$vs),
  FUN=dstats)

In [ ]:
install.packages("carData")
library(carData)

In [ ]:
carData::Salaries %>% head

In [ ]:
carData::Salaries %>% group_by(rank, sex) %>% 
  summarize(n = n(),
            med = median(salary),
            mean = mean(salary),
            max = max(salary))

In [ ]:
carData::Salaries %>% group_by(rank, sex) %>% 
  summarize(n = n(),
            med = median(salary),
            mean_s = mean(yrs.service),
            mean_p = mean(yrs.since.phd),
            max = max(salary))

In [ ]:
# Other way 
# **pay attention to the functions supplied as a list**

carData::Salaries %>% group_by(rank, sex) %>% 
            select(yrs.service, yrs.since.phd) %>%
            summarise_all(list(mean=mean, std = sd))

In [ ]:
options(digits=4)
vcd::Arthritis %>% head

In [ ]:
table(Arthritis$Improved)

In [ ]:
str(Arthritis$Improved)

In [ ]:
tab <- with(Arthritis, table(Improved))
tab

In [ ]:
prop.table(tab) * 100

## Two-way contingency table 

Create a two-way contingency type table using Formula type input

Note the variables to be used for cross-tab will appear on the right side of the table

In [ ]:
## Two way tables 

tab <- xtabs( ~ Treatment + Improved, data = Arthritis)
tab

In [ ]:
prop.table(tab, 1) # remember dim output 1st number will be for rows

In [ ]:
# columns
prop.table(tab,2)

In [ ]:
library(gmodels)